MODE=local
DATABASE_URL=postgres://postgres:postgres@localhost:5432/local-lms-digitallync-ai
AZURE_STORAGE_CONNECTION_STRING=
OPENAI_API_KEY=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
BLOB_READ_WRITE_TOKEN=

AUTH0_SECRET=
AUTH0_BASE_URL=
AUTH0_ISSUER_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_DB_CONNECTION_ID=
AUTH0_LEARNER_ROLE_ID=

NEXT_PUBLIC_AUTH0_ISSUER_BASE_URL=
NEXT_PUBLIC_FRONTEND_URL=
NEXT_PUBLIC_AUTH0_CLIENT_ID=

AUTH0_API_APP_RESOURCE_ID=
NEXT_PUBLIC_AUTH0_API_APP_IDENTIFIER=

LINEAR_TEAM_ID=
LINEAR_API_KEY=

NEXT_PUBLIC_DOCS_SITE_URL=